alabaster==0.7.13
aniso8601==9.0.1
astunparse==1.6.3
attrs==23.1.0
Babel==2.13.1
beautifulsoup4==4.12.2
blinker==1.6.3
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorclass==2.2.2
commonmark==0.9.1
compressed-rtf==1.0.6
cryptography==41.0.5
cssselect==1.2.0
Deprecated==1.2.14
docutils==0.20.1
easygui==0.98.3
ebcdic==1.1.1
extract-msg==0.45.0
Flask==3.0.0
Flask-RESTful==0.3.10
idna==3.4
imagesize==1.4.1
IMAPClient==2.3.1
importlib==1.0.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
lark==1.1.5
lief==0.13.2
lxml==4.9.3
MarkupSafe==2.1.3
MouseInfo==0.1.3
msoffcrypto-tool==5.1.1
olefile==0.46
oletools==0.60.1
packaging==23.2
pcodedmp==1.2.6
Pillow==10.1.0
# Editable install with no version control (pisword==0.1)
-e ~/Documents/pySOAR
pkg_resources==0.0.0
publicsuffixlist==0.10.0.20231030
PyAutoGUI==0.9.54
pycparser==2.21
pydeep2==0.5.1
pyflowchart==0.3.1
PyGetWindow==0.0.9
Pygments==2.16.1
pymisp==2.4.178
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.8.2
python-magic==0.4.27
python3-xlib==0.15
pytweening==1.0.7
pytz==2023.3.post1
PyYAML==6.0.1
recommonmark==0.7.1
red-black-tree-mod==1.20
referencing==0.30.2
reportlab==4.0.6
requests==2.31.0
rpds-py==0.10.6
RTFDE==0.1.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-autodoc-typehints==1.24.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
tzlocal==5.2
urllib3==2.0.7
validators==0.22.0
Werkzeug==3.0.1
wrapt==1.15.0
zipp==3.17.0
